/* CSS FOR MINDMAP */
.mindmap-canvas{
    background-color: rgb(102, 102, 102);
    width: 100%;
    height: 100%;
}

.mindmap-canvas[mode="move"]{
    cursor: move;
    /*background-image: linear-gradient(to right,blue, red);*/
}


.mindmap-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.3s;
    height: calc(10% + 1em);
}

.mindmap-menu[hidden]{
    opacity:0;
}

.mindmap-menu button{
    border-radius: 0;
    background-color: rgb(211, 211, 211);
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    transition: 0.3s;
    flex: 1;
    padding: 0;
    border: 0.5px black solid;
    border-top: none;
    border-bottom: none;
}

.mindmap-menu button:hover{
    background-color: rgb(146, 146, 146);
}

.mindmap-menu button i{
    font-size: 4em;
    padding: 0;
    margin: auto;
    position: absolute;
    pointer-events: none;
}

.mindmap-menu button[sel]{
    background-color: rgb(95, 235, 95);
}

.mindmap-mode-wrapper{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height: 50%;
    text-align: center;
    pointer-events: none;
}

.mindmap-mode-label{
    opacity: 0;
    width: 100%;
    height: 100%;
    animation-name: fade-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    text-transform: uppercase;
    font-family:  'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 2px black;
    color: white;
}

.mindmap-current-mode-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    pointer-events: none;
}

.mindmap-current-mode-wrapper > div{
    opacity: 1;
    transition: 0.2s;
    color: white;
    font-weight: bold;
    font-family:  'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 2px black;
    text-transform: uppercase;
}

.mindmap-current-mode-wrapper > div[hidden]{
    opacity: 0;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        display: block;
    }
    25% {
        opacity: 0.85;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
  }